<!DOCTYPE html>
<html>
  <head>
    <title>OnlineResume</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
  <footer id="sticky-footer class="py-4 bg-dark text-black-50">
	<div class= "container text-center">
		<small> Copyright &copy; Subhomoy Daw</small>
	</div>
</footer>
</html>
